<div class="panel panel-default">
<div class="panel-heading"><h1>Listing recipients</h1></div>
<div class="panel-body">
	<table>
		<thead>
			<tr>
				<th>Name</th>
				<th>Birthday</th>
				<th colspan="3"></th>
			</tr>
		</thead>

		<tbody>
			<% @recipients.each do |recipient| %>
				<% if recipient.user %>
					<tr>
						<td><%= link_to recipient.name, recipient %></td>
						<td><%= link_to recipient.birthday, recipient %></td>
						<td><%= link_to 'Delete', recipient, method: :delete, data: { confirm: 'Are you sure?' } %></td>
					</tr>
				<% end %>
			<% end %>
		</tbody>
	</table>
</div>
<br>
<div class="panel-footer">
<%= link_to 'New Recipient', new_recipient_path %>
</div>
</div>