<div class="panel panel-default">
	<div class="panel-heading"><h1>Edit this gift</h1></div>
	<div class="panel-body">
		<%= render 'form' %>
		
		<%= link_to 'Show', @gift %> |
		<%= link_to 'Back', gifts_path %>
	</div>
</div>