<div class="jumbotron center">
	<h1>Gift Management Database</h1>
	<p>This will be an app, eventually.</p>
	
	<% if user_signed_in? %>
		# things go here
	<% else %>
		<p>One day you'll be able to <%= link_to "Log in", new_user_session_path, class: "btn btn-primary" %> here.</p>
	<% end %>
</div>